<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Polylang DI" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">
	<description>Coding standards for Polylang DI.</description>

	<arg value="p"/><!-- Shows progress. -->
	<arg name="colors"/><!-- Shows results with colors. -->
	<arg name="extensions" value="php"/><!-- Limits to PHP files. -->

	<!-- https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->
	<file>.</file>
	<exclude-pattern>tests/fixtures.php</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>

	<!-- Our own ruleset. -->
	<rule ref="Polylang"/>

	<!-- Run against the PSR-4 ruleset. -->
	<!-- https://github.com/suin/phpcs-psr4-sniff -->
	<arg name="basepath" value="."/>

	<rule ref="Suin.Classes.PSR4.IncorrectClassName" >
		<exclude-pattern>/tests</exclude-pattern>
	</rule>
</ruleset>
